* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

.container {
    width: 100%;
    height: 120vh;
    background-color: #1e2227;
    color: #fff;
}

nav {
    background: #1e2227;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 8%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo {
    cursor: pointer;
    width: 120px;
}

nav .nav-links {
    display: flex;
    column-gap: 20px;
}

nav .nav-links a {
    color: #fff;
    font-size: 26px;
    text-decoration: none;
}

.row {
    height: 100%;
    width: 100%;
    display: flex;
}

.row .col-1,
.row .col-2 {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 50%;
}

.row .col-1 {
    padding-left: 8%;
}

.row .col-1 h1 {
    font-size: 74px;
    line-height: 100px;
    margin-bottom: 5px;
}

.row .col-1 {
    padding-right: 10px;
    line-height: 1.4;
}

.row .col-1 .price {
    display: flex;
    align-items: flex-end;
    column-gap: 10px;
    margin-top: 10px;
}

.row .col-1 h2 {
    font-size: 25px;
    line-height: 1;
}

.row .col-1 .buttons {
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
}

.col-1 .buttons button,
.col-1 a {
    display: inline-block;
    width: fit-content;
    padding: 18px 50px;
    background-color: red;
    border: none;
    color: #fff;
    font-size: 18x;
    margin-top: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.col-1 .buttons button:hover,
.col-1 a:hover {
    background-color: #aa0505;
    transform: translateY(-5px);
}

.col-2 {
    background: red;
    padding-right: 8%;
    position: relative;
}

.col-2 .feature-img {
    width: 100%;
    text-align: center;
}

.col-2 .feature-img img {
    width: 80%;
    transform: rotate(-20deg);
    transition: 0.5s ease;
}

.col-2 .feature-img img:hover {
    transform: rotate(0);
}

.small-img-wrapper {
    display: flex;
    width: 80%;
    margin: 70px auto 0;
    align-items: center;
    justify-content: space-around;
    column-gap: 55px;
}

.small-img {
    width: 80px;
    height: 80px;
}

.small-img img {
    width: 120px;
    transform: rotate(-340deg);
    transition: 1.5s ease;
}

.small-img img:hover {
    transform: rotate(0);
}

.small-img:nth-child(1) {
    background-color: #5d79b1;
}

.small-img:nth-child(2) {
    background-color: #9dff90;
}

.small-img:nth-child(3) {
    background-color: #b1ffdd;
}

.small-img:nth-child(4) {
    background-color: #ff6767;
}

.ul {
    padding-top: 100px;
    display: flex;
    list-style-type: none;
    column-gap: 40px;
    text-align: center;
    justify-content: center;
}

.ul .list {
    cursor: pointer;
    border: 2px rgb(27, 12, 123);
    background-color: #df6060;
    text-align: center;
}

.ul .list:hover {
    color: rgb(65, 195, 39);

}